In [ ]:
x=1
x

In [ ]:
y=3
y

In [ ]:
%whos

In [ ]:
z = x + y
z

In [ ]:
%whos

In [ ]:
print("I Love IITH")   #this is a string

In [ ]:
print("Hello World")  #another string

In [ ]:
s = "Hello World!"
type(s)

In [ ]:
s1 = " "

In [ ]:
type(s1)

In [ ]:
len(s) #length of the string

In [ ]:
s + s1

In [ ]:
len(s+s1)

In [ ]:
%whos

<table ><tr><th> 0 <th> <th> 1 <th> <th> 2 <th> <th> 3 <th> <th> 4 <th><th> 5 <th><th> 6 <th><th> 7 <th><th> 8 <th><th> 9
    <th><th> 10 <th><th> 11 <th><th> 12 <th><tr>
<tr><td> H <td><td> e <td><td> l <td><td> l <td><td> o <td><td>  <td><td> W <td><td> o <td><td> r <td><td> l <td><td> d
  <td><td> ! <td><tr><table>

In [ ]:
s[0]

In [ ]:
s[1]

In [ ]:
s[2]

In [ ]:
s[0:12]

In [ ]:
s2 = s[6]+s[7]+s[8] + 'm'

In [ ]:
s2

In [ ]:
%whos

In [ ]:
s3 = "1"
x = 2
y = x + s3

In [ ]:
s3 = "1"
x = "2"
y = x + s3

In [ ]:
y

In [ ]:
x = 2
y = 3
z = str(x) + str(3)
print(z)

In [ ]:
%whos

In [ ]:
%clear

In [ ]:
%whos

In [ ]:
%reset

In [ ]:
s

In [ ]:
s.upper()

In [ ]:
s.lower()

In [ ]:
s.count('l')

In [ ]:
s = s.replace("World", "Hyderabad")
print(s)

In [ ]:
name = "IIT Hyderabad"
country = 'India'

print("%s is a great school in %s!"%(name, country))

In [ ]:
print?

In [ ]:
print("1 + 2 = %d"%(1+2))

In [ ]:
x = 2
y = 3
z = "ABC"
print("The variables are: %d, %d, %s"%(x,y,z))

print("Variables are of type:%s, %s, %s"%(type(x),type(y),type(z)))
print("Variables are of type:",type(x),type(y),type(z))

In [ ]:
##Sometimes we use f-string
name1 = "IIT Hyderabad"
name2 = "IISc Bangalore"
country = "India"
print(f"{name1} and {name2} are great schools in {country}.")

In [ ]:
#u = "five"
#v = "six"
#print(f"{u} times {v} equals to {5*6}")
w = "Example"
w1="e" + w[1:]
print(w1)

example

In [ ]:
## Indexing versus slicing
w = "example"
len(w)
#w[9]  ## indexing
w[6:9]  ## slicing
## Indexing returns a single item,
## but slicing returns a subsequence of items. Thus while trying to index a nonexistent item,
## there is nothing to return and we get error.
## But when we slice a sequence outside of the bounds,
## we can return an empty sequence
##List
l1 = [0,1,2,3,4,5,6,7,8,9]
l2 = l1[4] #indexing
print(l2)
l3 = l1[4:5] #slicing
print(l3)
print(f"Type of l1[4] is {type(l2)}")
print(f"Type of l1[4:5] is {type(l3)}")

4
[4]
Type of l1[4] is <class 'int'>
Type of l1[4:5] is <class 'list'>

Given a slice expression like s[i:j:k],

    The slice of s from i to j with step k is defined
    as the sequence of items with index x = i + n*k
    such that 0 <= n < (j-i)/k. In other words, the
    indices are i, i+k, i+2*k, i+3*k and so on,
    stopping when j is reached (but never including
    j). When k is positive, i and j are reduced to
    len(s) if they are greater

In [ ]:
w = "example"
w[0:9:2]
w[0]
# w[0]="E" ## error as a string is immutable
new_w = "E" + w[1:]
print(new_w)

Example

In [ ]:
type(u)

In [ ]:
x = 2
y = print(x)

In [ ]:
y

In [ ]:
type(y)

Now we will learn the data structure called list in Python

Lists are flexible data structures used to store various items, integers, floats, strings, and lists.

Lists are mutable --> their elements can be changed even after creating the list.

In [ ]:
list1 = [1,2,3,4,5,6,7,8]  #list of integers

In [ ]:
len(list1)  #length of the list

8

In [ ]:
list1[0] ## index 0

1

In [ ]:
list1[1] ## index 1
list.append?

In [ ]:
list1.append("orange")  #adds a string item to the end
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 'orange']

In [ ]:
list1
list.remove?

In [ ]:
list1.remove('orange')
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
list1.append("banana")
list1.append("orange")

In [ ]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 'banana', 'orange']

In [ ]:
list1.pop()

'orange'

In [ ]:
list1.pop()

'banana'

In [ ]:
list2 = ["orange", "banana", "apple"]
print(list1, list2)

[1, 2, 3, 4, 5, 6, 7, 8] ['orange', 'banana', 'apple']

In [ ]:
list1 + list2

[1, 2, 3, 4, 5, 6, 7, 8, 'orange', 'banana', 'apple']

In [ ]:
list3 = [1,2,3,4,5,6,7,8]
list4 = list1 + list3
print(list4)

[1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# Advanced topics: list comprehension and zip function

list5 = [a - b for a, b in zip(list1, list3)]

In [ ]:
print(list5)
# - will not work on lists

[0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
## Advanced topic: zip function

z1 = zip(list1, list3)

In [ ]:
print(list(z1))  # zip aggregates elements from two lists and makes a list of tuples

[(1, 1), (2, 2), (3, 3), (4, 4), (5, 5), (6, 6), (7, 7), (8, 8)]

Negative indices

In [ ]:
alist = ['a', 1, 'b', 2, 'c', 3, 'd', 4]
print(alist)

['a', 1, 'b', 2, 'c', 3, 'd', 4]

In [ ]:
l = len(alist)
print(l)

8

In [ ]:
print(alist[-1]) # index -1 points to the last element of the list

4

In [ ]:
print(alist[l-1]) # last element in the list

4

In [ ]:
#alist[start:stop:step]
alist[::-2]

[4, 3, 2, 1]

In [ ]:
print(alist[-1])
print(alist[-2])
print(alist[-3])
print(alist[-4])
print(alist[-5])
print(alist[-6])
print(alist[-7])
print(alist[-8])

4
d
3
c
2
b
1
a

In [ ]:
print(alist[0])
print(alist[1])
print(alist[2])
print(alist[3])
print(alist[4])
print(alist[5])
print(alist[6])
print(alist[7])

In [ ]:
print(alist[0:l])

In [ ]:
print(alist[-l:])
print(alist[-1])
print(alist[l-1])

In [ ]:
  fruits = ['apple', 'orange', 'banana']
  fruits.append('pear')   ## append elem at end
  print(fruits)

In [ ]:
fruits.insert(0,'mango')
print(fruits)

In [ ]:
fruits.extend(['pineappple', 'grape'])
print(fruits)

In [ ]:
print(fruits.index('orange'))

In [ ]:
fruits.remove('banana')
print(fruits)

In [ ]:
fruits.pop(1)
print(fruits)

In [ ]:
fruits.reverse()
fruits

In [ ]:
# create a list of prime numbers
prime_numbers = [2, 3, 5, 7, 11, 13, 17, 19, 23]

# reverse the order of list elements
prime_numbers.reverse()

print('Reversed List:', prime_numbers)

# Output: Reversed List: [7, 5, 3, 2]

In [ ]:
random_list = [21.1, 34.2, 1.57, 5.55, 114.7, 11.2, 55.6]
random_list.sort()
print(random_list)

In [ ]:
list.sort?

In [ ]:
x = 1.57
round(x)

In [ ]:
rlist = [1.1, 1.5, 0.5, 0.7, 0.77, 1.8]
rlist.sort(key=round,reverse=True)
print(rlist)

In [ ]:
a = [5, 1, 4, 3]
print(sorted(a))  ## [1, 3, 4, 5]
print(a)  ## [5, 1, 4, 3]

In [ ]:
strs = ['aa', 'BB', 'zz', 'CC']
print(sorted(strs))  ## ['BB', 'CC', 'aa', 'zz'] (case sensitive)
print(sorted(strs, reverse=True))   ## ['zz', 'aa', 'CC', 'BB']

In [ ]:
strs = ['ccc', 'aaaa', 'd', 'bb']
print(sorted(strs, key=len))  ## ['d', 'bb', 'ccc', 'aaaa']
print(sorted(strs))

In [ ]:
## Empty list
emp = []
print(emp)
len(emp)

In [ ]:
# Initialize an empty list
my_list = []

# Append elements
my_list.append('Python')
my_list.append('Rocks!')
my_list.append('It’s easy to learn!')

print(my_list)

# Showcase zero-based indexing in Python
print(my_list[0])
print(my_list[1])
print(my_list[2])

# Use the .insert() method to insert ’Truly’ between ’Python’ and ’Rocks!’
my_list.insert(1, 'Truly')
# `my_list` is now ['Python', 'Truly', 'Rocks', 'It’s easy to learn!']
print(my_list)
my_string = my_list[0] + " " + my_list[1] + " " + my_list[2] + " " + my_list[3]
print(my_string)

Tuples - immutable

Tuples are fixed size collection (grouping) of elements. Examples: (x,y,z) co-ordinates in three dimensions,
(x,y) co-ordinates in 2D,  RGB colorspace (Red, Green, Blue), records in a database (name, age, job).

Tuples are like lists, but they are immutable and do not change size.

Tuples are not strictly immutable since one of the contained items can be mutable

In [ ]:
  my_tuple = (1, 2, 'Hello!')
  print(len(my_tuple))  ## 3
  print(my_tuple[2])    ## Hello!
  #my_tuple[2] = 'Goodbye!'  ## NO, tuples cannot be changed

  m1 = my_tuple
  m1 = (1,2,3)
  print(m1)

3
Hello!
(1, 2, 3)

In [ ]:
my_tuple = (1, 2, 'Goodbye!')  ## this works
print(my_tuple)

(1, 2, 'Goodbye!')

In [ ]:
##size-1 tuple - tuple comtaining one element only
my_1tuple = (1,)
len(my_1tuple)
## the tuple is not size-1

1

In [ ]:
##size-1 tuple - tuple comtaining one element only
my_1tuple = ('Hi',)
len(my_1tuple)
## the tuple is now size-1

1

In [ ]:
#(x,y,z) = (255,0,0)
#print(x)
#print(y)
#print(z)
x,y,z,w = (255,0,0,128)
print(x)
print(y)
print(z)
print(w)

255
0
0
128

In [ ]:
Olympian = ('Simon Biles', 25, 'Gymnastics', ("All Around", "Floor", "Vault", "Uneven Bars", "Balance Beam"))

In [ ]:
len(Olympian)

4

In [ ]:
Olympian[0]

'Simon Biles'

In [ ]:
Olympian[1]

25

In [ ]:
Olympian[2]

'Gymnastics'

In [ ]:
Olympian[3]

('All Around', 'Floor', 'Vault', 'Uneven Bars', 'Balance Beam')

In [ ]:
Olympian[3][0]

'All Around'

In [ ]:
Olympian[3][1]

'Floor'

In [ ]:
Olympian[3][2]

'Vault'

In [ ]:
len(Olympian[3])

5

In [ ]:
#Unpacking tuples
points = (7, 14, 21)
x,y,z = points

In [ ]:
x

7

In [ ]:
y

14

In [ ]:
z

21

In [ ]:
u = 7,14,21
type(u)

tuple

In [ ]:
u

(7, 14, 21)

In [ ]:
#Swap operations
a = 200
b = 400
temp = a
a = b
b = temp

In [ ]:
a

400

In [ ]:
b

200

In [ ]:
#Use unpacking syntax to swap
a = 10; b = 20
a, b = b, a
print(a,b)

20 10

In [ ]:
#Packing
a = 10; b=20; c=(0,1,2); d=(3,4,5,6);
z = a,b,c,d
print(z)
type(z)

(10, 20, (0, 1, 2), (3, 4, 5, 6))

tuple

In [ ]:
#Flexible unpacking using *
numbers = (1,2,4,5,6,9)
*head, last = numbers
print(head)
print(last)
type(head)

[1, 2, 4, 5, 6]
9

list

In [ ]:
a, *b, c = numbers
head, middle, *last = numbers
print("head=",head)
print("middle=",middle)
print("last=",last)

head= 1
middle= 2
last= [4, 5, 6, 9]

In [ ]:
head

[1, 2, 4, 5, 6]

In [ ]:
middle

NameError: name 'middle' is not defined

In [ ]:
last

In [ ]:
prime_numbers = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]
n1 = prime_numbers.copy()
print('n1=', n1)
n2 = prime_numbers
print('n2=', n2)

n1= [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]
n2= [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [ ]:
id?

In [ ]:
id(n1)

132095749496064

In [ ]:
id(prime_numbers)-id(n2)

0

In [ ]:
#n1 is a shallow copy, n2

In [ ]:
xs = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
ys = xs
print(ys)
abs(id(xs) - id(ys))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

0

In [ ]:
ys

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
xs.append([10,11,12])
print(xs)
print(f'id(xs)={id(xs)},id(ys)={id(ys)}')

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]
id(xs)=132095300128384,id(ys)=132095300128384

In [ ]:
id(ys)

132095300122624

In [ ]:
xs

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]

In [ ]:
xs

In [ ]:
xs.pop()

[10, 11, 12]

In [ ]:
ys

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
zs = xs
print(zs)

In [ ]:
xs.append([10,11,12])
xs

In [ ]:
ys

In [ ]:
zs

In [ ]:
# a list of (fruit, number) pairs
[('apple', 3), ('banana', 4) , ('orange', 1), ('pear', 4)]

[('apple', 3), ('banana', 4), ('orange', 1), ('pear', 4)]

In [ ]:
l1 = [('apple', 3), ('banana', 4) , ('orange', 1), ('pear', 4)]

In [ ]:
# Unpacking
a,b = l1[0]
print(a, b)
c,d = l1[1]
print(c, d)
e,f = l1[2]
print(e, f)
g,h = l1[3]
print(g, h)

apple 3
banana 4
orange 1
pear 4

In [ ]:
#Packing - no paratheses is required to build a tuple
list_2 = 2, 4, 5
list_2

(2, 4, 5)

In [ ]:
#Revisiting immutable tuples and mutable lists
student_info = ("Bill", 18, ["Mathematics", "Physics", "History"])
student_info[2][2]="Chemistry" ## changed one entry of the mutable list using changed indices
print(student_info)
student_info[2].append("Geography")
print(student_info)
student_info[2].remove("Chemistry")
print(student_info)

('Bill', 18, ['Mathematics', 'Physics', 'Chemistry'])
('Bill', 18, ['Mathematics', 'Physics', 'Chemistry', 'Geography'])
('Bill', 18, ['Mathematics', 'Physics', 'Geography'])

In [ ]:
import math
x = math.sin(math.pi)
y = math.sin(x)
z = y/x
print(z)

1.0

In [ ]:
# prompt: randomly select 5 items from a list

import random
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
random.sample(my_list, 5)
range(1,15)
list(range(1,15))
#iterators
for i in range(15,1,-1):
  print(i)

15
14
13
12
11
10
9
8
7
6
5
4
3
2

In [ ]:
# Create a list of random numbers, sort the numbers, find the greatest number

import random #call to a module called random

# Create a list of 10 random numbers between 1 and 100
random_numbers = random.sample(range(1, 101), 10)
print("Unsorted:", random_numbers)

# Sort the list in ascending order
random_numbers.sort()
print("Sorted:", random_numbers)

# The greatest number is the last element in the sorted list
greatest_number = random_numbers[-1]
print("Greatest number:", greatest_number)

Unsorted: [10, 3, 100, 55, 13, 6, 85, 15, 43, 50]
Sorted: [3, 6, 10, 13, 15, 43, 50, 55, 85, 100]
Greatest number: 100

In [ ]:
# In the above example, sort in descending order

import random

# Create a list of 10 random numbers between 1 and 100
random_numbers = random.sample(range(1, 101), 10)
print("Unsorted:", random_numbers)

# Sort the list in descending order
random_numbers.sort(reverse=True)
print("Sorted:", random_numbers)

# The greatest number is the first element in the sorted list
greatest_number = random_numbers[0]
print("Greatest number:", greatest_number)

Unsorted: [7, 40, 92, 89, 19, 90, 52, 84, 17, 88]
Sorted: [92, 90, 89, 88, 84, 52, 40, 19, 17, 7]
Greatest number: 92

In [ ]:
import random as ran
mlist1=ran.sample(['yellow','red','blue','green','white','black','brown','pink'], 5)
print(mlist1)
mlist1.sort()
print(mlist1)

['brown', 'blue', 'white', 'red', 'green']
['blue', 'brown', 'green', 'red', 'white']

In [ ]:
#Sets - unordered collection of items with no duplicate elements
{1,2,2,2,1,2,3,4,4,5,6,6,7,8,9,1,2,3,4,3,5,6,2,3,4}

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
# why sets of integers are unordered
l1 = [10, 5, 2, 8, 1]
l2 = l1.copy()
l2.sort()
print(f'l1={l1}, l2={l2}')
my_set = set(l1)
print(my_set)  # Output will likely be in a different order
print(l1==l2)
my_set2 = set(l2)
print(my_set2)  # Output will likely be in a different order again

print(my_set == my_set2)  # True, because sets don't care about order

l1=[10, 5, 2, 8, 1], l2=[1, 2, 5, 8, 10]
{1, 2, 5, 8, 10}
False
{1, 2, 5, 8, 10}
True

In [ ]:
#Arithmetic operators in python

#Addition +
a = 5 + 2
#Subtraction -
b = 5 - 2
#Multiplication *
c = 5 * 2
#Division /
d = 5 / 2
#Floor division //
e = 5 // 2
#Modulus %
f = 5 % 2
#Exponentiation **
g = 5 ** 2

print(f"a={a}, b={b}, c={c}, d={d}, e={e}, f={f}, g={g}")

a=7, b=3, c=10, d=2.5, e=2, f=1, g=25

In [ ]:
#Assignment operators
x = 2
x += 3  # Equivalent to x = x + 3
print(x)  # Output: 5

x -= 2  # Equivalent to x = x - 2
print(x)  # Output: 3

x *= 4  # Equivalent to x = x * 4
print(x)  # Output: 12

x /= 3  # Equivalent to x = x / 3
print(x)  # Output: 4.0

x **= 2  # Equivalent to x = x ** 2
print(x)  # Output: 16.0

x //= 5  # Equivalent to x = x // 5
print(x)  # Output: 3.0

x %= 2  # Equivalent to x = x % 2
print(x)  # Output: 1.0

type(x)

5
3
12
4.0
16.0
3.0
1.0

float

In [ ]:
# Comparison operators
# > (greater than)
# < (less than)
# >= (greater than or equal)
# <= (less than or equal)
# == (equal)
# != (not equal)

# Logical expressions are statements that can either be true or false
# Returns a boolean "True" or "False"

a = 4 == 5
print(a)

b = 5 == 5
print(b)

c = 4 != 5
print(c)

d = 5 != 5
print(d)

False
True
True
False

In [ ]:
# Logical Operators:

# and: Returns True if both statements are True.
print(True and True)   # Output: True
print(True and False)  # Output: False

# or: Returns True if at least one statement is True.
print(True or False)   # Output: True
print(False or False)  # Output: False

# not: Returns the opposite boolean value.
print(not True)    # Output: False
print(not False)   # Output: True

# Examples:

x = 5
y = 10

# Using 'and'
if x > 0 and y < 20:
  print("Both conditions are True")

# Using 'or'
if x < 3 or y > 5:
  print("At least one condition is True")

# Using 'not'
if not x == y:
  print("x is not equal to y")

True
False
True
False
False
True
Both conditions are True
At least one condition is True
x is not equal to y

In [ ]:
# Bitwise AND Operator (&):

# Explanation:
# The bitwise AND operator (&) works on individual bits of two numbers.
# It compares each corresponding bit and sets the resulting bit to 1 only if both bits are 1. Otherwise, it sets the resulting bit to 0.

# Example:

num1 = 10  # Binary representation: 1010
num2 = 12  # Binary representation: 1100

result = num1 & num2  # Bitwise AND operation

print(result)  # Output: 8 (Binary representation: 1000)

# Explanation of the example:

# 1010 (num1)
# 1100 (num2)
# ----
# 1000 (result)

# As you can see, only the leftmost '1' bit is common to both num1 and num2, so the result is 1000 (decimal 8).

In [ ]:
# More examples of logical operators
# Combine with conditional or branching statements

# Example 1: Checking if a number is within a range
num = 15
if num >= 10 and num <= 20:
  print("Number is within the range of 10 to 20")
else:
  print("Number is outside the range of 10 to 20")

# Example 2: Checking if a user is eligible for a discount
age = 25
is_student = True
if age < 18 or is_student:
  print("Eligible for discount")
else:
  print("Not eligible for discount")

# Example 3: Checking if a password meets certain criteria
password = "MyStrongPassword123"
if len(password) >= 8 and not password.islower() and not password.isupper():
  print("Password meets the criteria")
else:
  print("Password does not meet the criteria")

Number is within the range of 10 to 20
Eligible for discount
Password meets the criteria

Branching if-else statements

if logical expression:

    code block

Extended branching

if logical expression P:

    code block 1

elif logical expression Q:

    code block 2

elif logical expression R:

    code block 3

else:

    code block 4

In [ ]:
# % or modulus operator - returns remainder

result1 = 10 % 3
print(result1)  # Output: 1 (10 divided by 3 leaves a remainder of 1)

result2 = 15 % 5
print(result2)  # Output: 0 (15 is perfectly divisible by 5, no remainder)

result3 = 23 % 7
print(result3)  # Output: 2 (23 divided by 7 leaves a remainder of 2)

a = 2 % 5
print(a)

b = 5 % 5
print(b)

c = 2 % 3
print(c)

d = 3 % 2
print(d)

e = 1.2 % 0.5
print(e)

1
0
2
2
0
2
1
0.19999999999999996

In [ ]:
print(0.1+0.1+0.1==0.3)
print(0.1 + 0.2 == 0.3)
print(0.1 + 0.1 == 0.2)

False
False
True

In [ ]:
x = 0.1 + 0.1 + 0.1
print(x)
if x == 0.3:
    y = 2
elif x > 0.3:
    y = 4
else:
    y = 0
print(y)

0.30000000000000004
4

In [ ]:
# Example 1: Check if a number is even or odd
num = 7
if num % 2 == 0:
  print("The number is even.")
else:
  print("The number is odd.")

# Example 2: Determine if a person is eligible to vote
age = 17
if age >= 18:
  print("You are eligible to vote.")
else:
  print("You are not eligible to vote yet.")

# Example 3: Check if a string is empty
text = ""
if text:
  print("The string is not empty.")
else:
  print("The string is empty.")

# Example 4: Grade a student based on their score
score = 85
if score >= 90:
  print("Grade: A")
elif score >= 80:
  print("Grade: B")
elif score >= 70:
  print("Grade: C")
else:
  print("Grade: F")

# Example 5: Check if a year is a leap year
year = 2024
if (year % 4 == 0 and year % 100 != 0) or year % 400 == 0:
  print(year, "is a leap year.")
else:
  print(year, "is not a leap year.")

In [ ]:
my_list = [1,3,4,5,5,6,3,4,5,1,2,3]
set1 = set(my_list)
my_list = list(set1)
print(my_list)

set1 = {1,2,3,4,5}; set2={4,5,6,7,8}
#Union
x = set1.union(set2)
print(x)
print(set1 | set2) #union
#Intersection
y = set1.intersection(set2)
print(y)
print(set1 & set2)
#Difference
z = set1.difference(set2)
print(z)
print(set1 - set2)
#Symmetric difference
w = set1.symmetric_difference(set2)
print(w)
print(set1 ^ set2)
set1.add(10)
print(set1)
set1.remove(2)
print(set1)

[1, 2, 3, 4, 5, 6]
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{4, 5}
{1, 2, 3}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 4, 5, 10}
{1, 3, 4, 5, 10}

In [ ]:
x=set()
print(len(x))

0

In [ ]:
2 in {1,2,3}

True

In [ ]:
# an example of colon of a tuple

my_tuple = (1, 2, 3, 4, 5)
print(my_tuple[2:4])  # Output: (2, 3, 4, 5)

(3, 4)

In [ ]:
#tuple count

my_tuple = (1, 2, 3, 2, 4, 2, 5)
count = my_tuple.count(2)  # Counts the occurrences of 2 in the tuple
print(count)  # Output: 3

3

In [ ]:
#find whether an element exists in a tuple

my_tuple = (1, 3, 12, 333, 43, 57, 3, 4, 9, 499, 3)
element_to_find = 10

if element_to_find in my_tuple:
  print(f"{element_to_find} exists in the tuple")
else:
  print(f"{element_to_find} does not exist in the tuple")

10 does not exist in the tuple

In [ ]:
# A simple dictionary to store student names and their scores
student_scores = {
  "Alice": 85,
  "Bob": 92,
  "Charlie": 78,
  "David": 95
}
print(student_scores)

# A dictionary to represent a product catalog with product names as keys and prices as values
product_catalog = {
  "Laptop": 1200,
  "Keyboard": 75,
  "Mouse": 30,
  "Monitor": 350,
  "Webcam": 50
}
print(product_catalog)

# A nested dictionary to store information about books, including
# their authors, genres, and publication years
book_database = {
  "The Lord of the Rings": {
    "author": "J.R.R. Tolkien",
    "genre": "Fantasy",
    "year": 1954
  },
  "To Kill a Mockingbird": {
    "author": "Harper Lee",
    "genre": "Southern Gothic",
    "year": 1960
  },
  "Pride and Prejudice": {
    "author": "Jane Austen",
    "genre": "Romance",
    "year": 1813
  }
}
print(book_database)

{'Alice': 85, 'Bob': 92, 'Charlie': 78, 'David': 95}
{'Laptop': 1200, 'Keyboard': 75, 'Mouse': 30, 'Monitor': 350, 'Webcam': 50}
{'The Lord of the Rings': {'author': 'J.R.R. Tolkien', 'genre': 'Fantasy', 'year': 1954}, 'To Kill a Mockingbird': {'author': 'Harper Lee', 'genre': 'Southern Gothic', 'year': 1960}, 'Pride and Prejudice': {'author': 'Jane Austen', 'genre': 'Romance', 'year': 1813}}

In [ ]:
# Accessing values in a dictionary
student_scores = {
  "Alice": 85,
  "Bob": 92,
  "Charlie": 78,
  "David": 95
}

print(student_scores["Bob"])  # Output: 92
print(student_scores.get("Charlie"))  # Output: 78

# Adding a new key-value pair
student_scores["Eve"] = 88
print(student_scores)  # Output: {'Alice': 85, 'Bob': 92, 'Charlie': 78, 'David': 95, 'Eve': 88}

# Modifying an existing value
student_scores["Charlie"] = 82
print(student_scores)  # Output: {'Alice': 85, 'Bob': 92, 'Charlie': 82, 'David': 95, 'Eve': 88}

# Removing a key-value pair
del student_scores["David"]
print(student_scores)  # Output: {'Alice': 85, 'Bob': 92, 'Charlie': 82, 'Eve': 88}

# Iterating over a dictionary
for key in student_scores:
  print(key, ":", student_scores[key])

# Checking if a key exists
if "Alice" in student_scores:
  print("Alice's score is present")

# Getting all keys and values
keys = student_scores.keys()
values = student_scores.values()
print("Keys:", keys)
print("Values:", values)

# Clearing a dictionary
student_scores.clear()
print(student_scores)  # Output: {}

92
78
{'Alice': 85, 'Bob': 92, 'Charlie': 78, 'David': 95, 'Eve': 88}
{'Alice': 85, 'Bob': 92, 'Charlie': 82, 'David': 95, 'Eve': 88}
{'Alice': 85, 'Bob': 92, 'Charlie': 82, 'Eve': 88}
Alice : 85
Bob : 92
Charlie : 82
Eve : 88
Alice's score is present
Keys: dict_keys(['Alice', 'Bob', 'Charlie', 'Eve'])
Values: dict_values([85, 92, 82, 88])
{}

In [ ]:
count = 0
for i in range(100):
    for j in range(50):
      if i * j < 8:
        print(i, j)
        count += 1
      else:
        break
print(count)

0 0
0 1
0 2
0 3
0 4
0 5
0 6
0 7
0 8
0 9
0 10
0 11
0 12
0 13
0 14
0 15
0 16
0 17
0 18
0 19
0 20
0 21
0 22
0 23
0 24
0 25
0 26
0 27
0 28
0 29
0 30
0 31
0 32
0 33
0 34
0 35
0 36
0 37
0 38
0 39
0 40
0 41
0 42
0 43
0 44
0 45
0 46
0 47
0 48
0 49
1 0
1 1
1 2
1 3
1 4
1 5
1 6
1 7
2 0
2 1
2 2
2 3
3 0
3 1
3 2
4 0
4 1
5 0
5 1
6 0
6 1
7 0
7 1
8 0
9 0
10 0
11 0
12 0
13 0
14 0
15 0
16 0
17 0
18 0
19 0
20 0
21 0
22 0
23 0
24 0
25 0
26 0
27 0
28 0
29 0
30 0
31 0
32 0
33 0
34 0
35 0
36 0
37 0
38 0
39 0
40 0
41 0
42 0
43 0
44 0
45 0
46 0
47 0
48 0
49 0
50 0
51 0
52 0
53 0
54 0
55 0
56 0
57 0
58 0
59 0
60 0
61 0
62 0
63 0
64 0
65 0
66 0
67 0
68 0
69 0
70 0
71 0
72 0
73 0
74 0
75 0
76 0
77 0
78 0
79 0
80 0
81 0
82 0
83 0
84 0
85 0
86 0
87 0
88 0
89 0
90 0
91 0
92 0
93 0
94 0
95 0
96 0
97 0
98 0
99 0
165

In [ ]:
# # Looping through a list
# fruits = ["apple", "banana", "cherry"]
# for fruit in fruits:
#   print(fruit)

# # Looping through a string
# message = "Hello"
# for letter in message:
#   print(letter)

# # Looping with a range function
# for i in range(5):  # Prints numbers from 0 to 4
#   print(i)

# # Looping with a while loop
# count = 0
# while count < 3:
#   print("Count:", count)
#   count += 1

# # Nested loops
# for i in range(3):
#   for j in range(2):
#     print(i, j)

# Looping with break statement
#for num in range(10):
 #if num == 5:
  # break  # Exits the loop when num is 5
 #print(num)

# # Looping with continue statement
# Sequence: 1, 5, 9, 13, 17
for num in range(20):
  if num%4 !=1:
    continue  # Skips the current iteration when num is divisible by 4
  print(num)
  # fill the code with branching statements and use continue statement to print the given sequence

1
5
9
13
17

In [ ]:
# Example 1: Print even numbers in a list
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for number in numbers:
  if number % 2 == 0:
    print(number)

# Example 2: Calculate the sum of positive numbers in a list
numbers = [-2, 5, 0, 8, -3, 1]
sum_positive = 0

for number in numbers:
  if number > 0:
    sum_positive += number

print("Sum of positive numbers:", sum_positive)

# Example 3: Find the largest number in a list
numbers = [12, 45, 23, 67, 8, 34]
largest_number = numbers[0]  # Initialize with the first number

for number in numbers:
  if number > largest_number:
    largest_number = number

print("Largest number:", largest_number)

# Example 4: Check if a list contains a specific element
numbers = [10, 20, 30, 40, 50]
target = 30
found = False

for number in numbers:
  if number == target:
    found = True
    break

if found:
  print("Element found in the list")
else:
  print("Element not found in the list")

2
4
6
8
10
Sum of positive numbers: 14
Largest number: 67
Element found in the list

In [ ]:
# Function to calculate the area of a rectangle
def calculate_rectangle_area(length, width):
  """Calculates the area of a rectangle.

  Args:
    length: The length of the rectangle.
    width: The width of the rectangle.

  Returns:
    The area of the rectangle.
  """
  area = length * width
  return area

# Function to greet a person
def greet(name):
  """Greets a person by name.

  Args:
    name: The name of the person to greet.
  """
  print("Hello,", name + "!")

# Function to check if a number is even
def is_even(number):
  """Checks if a number is even.

  Args:
    number: The number to check.

  Returns:
    True if the number is even, False otherwise.
  """
  return number % 2 == 0

# Example usage
area = calculate_rectangle_area(5, 10)
print("Area of rectangle:", area)  # Output: Area of rectangle: 50

greet("Alice")  # Output: Hello, Alice!

if is_even(6):
  print("Number is even")
else:
  print("Number is odd")

help(calculate_rectangle_area)

Area of rectangle: 50
Hello, Alice!
Number is even
Help on function calculate_rectangle_area in module __main__:

calculate_rectangle_area(length, width)
    Calculates the area of a rectangle.

    Args:
      length: The length of the rectangle.
      width: The width of the rectangle.

    Returns:
      The area of the rectangle.

In [ ]:
def area_of_triangle(base,height):
  "Calculates the area of a triangle."


  area = 0.5*base*height
  return area

area_of_triangle(5,10)
help(area_of_triangle)

Help on function area_of_triangle in module __main__:

area_of_triangle(base, height)
    Calculates the area of a triangle.

In [ ]:
# Function to calculate the factorial of a number
def factorial(n):
  """Calculates the factorial of a non-negative integer.

  Args:
    n: The non-negative integer.

  Returns:
    The factorial of n.
  """
  if n == 0:
    return 1
  else:
    return n * factorial(n - 1)

# # Function to find the maximum of two numbers
# def find_max(a, b):
#   """Finds the maximum of two numbers.

#   Args:
#     a: The first number.
#     b: The second number.

#   Returns:
#     The maximum of a and b.
#   """
#   if a > b:
#     return a
#   else:
#     return b

# # Function to reverse a string
# def reverse_string(s):
#   """Reverses a string.

#   Args:
#     s: The string to reverse.

#   Returns:
#     The reversed string.
#   """
#   return s[::-1]

# # Example usage
# print(factorial(5))  # Output: 120
# print(find_max(10, 5))  # Output: 10
# print(reverse_string("hello"))  # Output: olleh

factorial(958)
n = 1000
ans = 1
for i in range(1,n+1):
  ans *= i
print(ans)

402387260077093773543702433923003985719374864210714632543799910429938512398629020592044208486969404800479988610197196058631666872994808558901323829669944590997424504087073759918823627727188732519779505950995276120874975462497043601418278094646496291056393887437886487337119181045825783647849977012476632889835955735432513185323958463075557409114262417474349347553428646576611667797396668820291207379143853719588249808126867838374559731746136085379534524221586593201928090878297308431392844403281231558611036976801357304216168747609675871348312025478589320767169132448426236131412508780208000261683151027341827977704784635868170164365024153691398281264810213092761244896359928705114964975419909342221566832572080821333186116811553615836546984046708975602900950537616475847728421889679646244945160765353408198901385442487984959953319101723355556602139450399736280750137837615307127761926849034352625200015888535147331611702103968175921510907788019393178114194545257223865541461062892187960223838971476088506276862967146674697562911234082439208160153780889893964518263243671616762179168909779911903754031274622289988005195444414282012187361745992642956581746628302955570299024324153181617210465832036786906117260158783520751516284225540265170483304226143974286933061690897968482590125458327168226458066526769958652682272807075781391858178889652208164348344825993266043367660176999612831860788386150279465955131156552036093988180612138558600301435694527224206344631797460594682573103790084024432438465657245014402821885252470935190620929023136493273497565513958720559654228749774011413346962715422845862377387538230483865688976461927383814900140767310446640259899490222221765904339901886018566526485061799702356193897017860040811889729918311021171229845901641921068884387121855646124960798722908519296819372388642614839657382291123125024186649353143970137428531926649875337218940694281434118520158014123344828015051399694290153483077644569099073152433278288269864602789864321139083506217095002597389863554277196742822248757586765752344220207573630569498825087968928162753848863396909959826280956121450994871701244516461260379029309120889086942028510640182154399457156805941872748998094254742173582401063677404595741785160829230135358081840096996372524230560855903700624271243416909004153690105933983835777939410970027753472000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [ ]:
def binary_search(arr, target):
  """Performs a binary search on a sorted list.

  Args:
    arr: The sorted list to search.
    target: The value to search for.

  Returns:
    The index of the target if found, otherwise -1.
  """
  low = 0
  high = len(arr) - 1

  while low <= high:
    mid = (low + high) // 2
    if arr[mid] == target:
      return mid
    elif arr[mid] < target:
      low = mid + 1
    else:
      high = mid - 1

  return -1  # Target not found

In [ ]:
import random

numbers = random.sample(range(100), 15)  # Adjust range as needed
print(numbers)
numbers.sort()
print(numbers)

[57, 82, 76, 87, 97, 8, 26, 7, 71, 49, 34, 10, 6, 73, 65]
[6, 7, 8, 10, 26, 34, 49, 57, 65, 71, 73, 76, 82, 87, 97]

In [ ]:
binary_search(numbers,87)

13

In [ ]:
# Function to calculate the Fibonacci sequence up to n terms
def fibonacci(n):
  """Calculates the Fibonacci sequence up to n terms.

  Args:
    n: The number of terms.

  Returns:
    A list containing the Fibonacci sequence up to n terms.
  """
  result = []
  a, b = 0, 1
  for _ in range(n):
    result.append(a)
    a, b = b, a + b
  return result

# Function to check if a number is prime
def is_prime(n):
  """Checks if a number is prime.

  Args:
    n: The number to check.

  Returns:
    True if the number is prime, False otherwise.
  """
  if n <= 1:
    return False
  for i in range(2, int(n ** 0.5) + 1):
    if n % i == 0:
      return False
  return True

# Function to calculate the average of a list of numbers
def calculate_average(numbers):
  """Calculates the average of a list of numbers.

  Args:
    numbers: A list of numbers.

  Returns:
    The average of the numbers.
  """
  if not numbers:
    return 0
  return sum(numbers) / len(numbers)

# Example usage
print(fibonacci(10))  # Output: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
print(is_prime(17))  # Output: True
print(calculate_average([1, 2, 3, 4, 5]))  # Output: 3.0

In [ ]:
# Example 1: Squaring numbers in a list
numbers = [1, 2, 3, 4, 5]
squared_numbers = [x**2 for x in numbers]
print(squared_numbers)  # Output: [1, 4, 9, 16, 25]

# Example 2: Filtering even numbers from a list
numbers = [1, 2, 3, 4, 5, 6]
even_numbers = [x for x in numbers if x % 2 == 0]
print(even_numbers)  # Output: [2, 4, 6]

# Example 3: Creating a list of uppercase letters from a string
string = "hello world"
uppercase_letters = [char.upper() for char in string if char.isalpha()]
print(uppercase_letters)  # Output: ['H', 'E', 'L', 'L', 'O', 'W', 'O', 'R', 'L', 'D']

# Example 4: Creating a list of tuples with (number, square) pairs
numbers = [1, 2, 3, 4, 5]
number_squares = [(x, x**2) for x in numbers]
print(number_squares)  # Output: [(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

# Example 5: Flattening a nested list
nested_list = [[1, 2], [3, 4, 5], [6]]
flattened_list = [item for sublist in nested_list for item in sublist]
print(flattened_list)  # Output: [1, 2, 3, 4, 5, 6]

In [ ]:
# isalpha() - Checks if all characters in a string are alphabetic
text1 = "Hello"
text2 = "Hello123"

print(text1.isalpha())  # Output: True
print(text2.isalpha())  # Output: False

# isnan() - Checks if a value is NaN (Not a Number) (works on numeric types, not strings)
import math

value1 = float('nan')
value2 = 10

print(math.isnan(value1))  # Output: True
print(math.isnan(value2))  # Output: False

# isdigit() - Checks if all characters in a string are digits
text1 = "12345"
text2 = "123abc"

print(text1.isdigit())  # Output: True
print(text2.isdigit())  # Output: False

# islower() - Checks if all alphabetic characters in a string are lowercase
text1 = "hello"
text2 = "Hello"

print(text1.islower())  # Output: True
print(text2.islower())  # Output: False

# isupper() - Checks if all alphabetic characters in a string are uppercase
text1 = "HELLO"
text2 = "Hello"

print(text1.isupper())  # Output: True
print(text2.isupper())  # Output: False

# isspace() - Checks if all characters in a string are whitespace characters
text1 = "   "
text2 = "Hello "

print(text1.isspace())  # Output: True
print(text2.isspace())  # Output: False

True
False
True
False
True
False
True
False
True
False
True
False

In [ ]:
# Example 1: Squaring a number
square = lambda x: x ** 2
print(square(5))  # Output: 25

# Example 2: Adding two numbers
add = lambda x, y: x + y
print(add(3, 7))  # Output: 10

# Example 3: Checking if a number is even
is_even = lambda num: num % 2 == 0
print(is_even(8))  # Output: True

# Example 4: Sorting a list of tuples by the second element
points = [(1, 5), (3, 2), (2, 8)]
sorted_points = sorted(points, key=lambda x: x[1])
print(sorted_points)  # Output: [(3, 2), (1, 5), (2, 8)]

# Example 5: Filtering a list to get even numbers
numbers = [1, 2, 3, 4, 5, 6]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)  # Output: [2, 4, 6]




#Example 6: Fahenheit to Celsiusr
FtoC = lambda fahr:(fahr-32)*5/9
a=FtoC(96.8)
print(a)

#Example 7: area of triangle
tri_area = lambda base,height: 0.5*base*height
b=tri_area(5,10)
print(b)

36.0
25.0

In [ ]:
# tricky problems with lists, tuples, dictionary

# 1. Modifying a list while iterating over it
# Problem: Removing elements while iterating can lead to unexpected results.

numbers = [1, 2, 3, 4, 5]
for num in numbers:
  if num % 2 == 0:
    numbers.remove(num)  # Incorrect way to remove elements

print(numbers)  # Output: [1, 3, 5] (Incorrect, should be [1, 3])

# Solution: Create a new list or use list comprehension.
numbers = [1, 2, 3, 4, 5]
new_numbers = [num for num in numbers if num % 2 != 0]
print(new_numbers)  # Output: [1, 3, 5] (Correct)

# 2. Modifying a tuple (immutability)
# Problem: Tuples are immutable, so you can't change their elements directly.

my_tuple = (1, 2, 3)
# my_tuple[0] = 5  # This will raise a TypeError

# Solution: Create a new tuple with the modified element.
new_tuple = (5,) + my_tuple[1:]
print(new_tuple)  # Output: (5, 2, 3)

# 3. Duplicate keys in dictionaries
# Problem: Dictionaries cannot have duplicate keys. If you try to assign a value to an existing key, it will overwrite the previous value.

my_dict = {"a": 1, "b": 2, "a": 3}
print(my_dict)  # Output: {'a': 3, 'b': 2} (The first value for 'a' is overwritten)

# Solution: If you need to store multiple values for a key, use a list or another dictionary as the value.
my_dict = {"a": [1, 3], "b": 2}
print(my_dict)  # Output: {'a': [1, 3], 'b': 2}

# 4. Unhashable types as dictionary keys
# Problem: Dictionary keys must be hashable (immutable). Using mutable types like lists as keys will raise a TypeError.

# my_dict = {[1, 2]: 3}  # This will raise a TypeError

# Solution: Use tuples instead of lists for keys if you need a collection as a key.
my_dict = {(1, 2): 3}
print(my_dict)  # Output: {(1, 2): 3}

# 5. Unexpected behavior with default values in dictionaries
# Problem: Using mutable objects as default values in the `get()` method can lead to unexpected behavior.

my_dict = {}
my_dict.setdefault("a", []).append(1)
my_dict.setdefault("a", []).append(2)
print(my_dict)  # Output: {'a': [1, 2]} (The same list is used as the default value)

# Solution: Use a lambda function to create a new default value each time.
my_dict = {}
my_dict.setdefault("a", lambda: []).append(1)
my_dict.setdefault("a", lambda: []).append(2)
print(my_dict)  # Output: {'a': [1], 'a': [2]} (Separate lists are created)